.caret-up {
	width: 0; 
	height: 0; 
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-bottom: 8px solid;
	display:inline-block;
	margin-left:0;
	vertical-align:middle;
}

#navbarSupportedContent
{
	font-size: 20px;
}

#points-form{

	font-size: 35px;
}

#points{

	display: inline;
}

#ease-up{
	display: inline;
	font-size: 1.8em;
	font-weight: 300;
	
}
.navbar-nav{
	margin: 0 auto;
	
}
.nav-item{
	padding-right: 20px;
	font-size: 30px;
}

.card{

 display: inline-block;
 margin-bottom: 30px;

	
	
}


.navbar{
	margin-bottom: 50px;
}

#job-upload{

	height:100px;
	width:100%;

}

#butonis{

margin-top:30px;
height: 50px;
width: 150px;
margin: 0 auto;
display: flex;

}

#job-title{

	margin-bottom: 20px;
	
}

#job-desc{
	margin-bottom: 20px;
}

#job-upload-desc{
width: 500px;
margin: 0 auto;

}

#points-job{
	text-align: center;
}

#exampleRadios20{
	margin-bottom: 10px;
}

.input-group{
	margin-top: 30px;
}

#job-points{
	font-size:20px;
}

#rewards{
	
	display:inline-block;
	width: 15rem;
	margin: 0 auto;
	font-size: 30px;
	
}

#all-rewards{
	margin: 0 auto;
	font-size: 30px;
}

#desc{
	font-size: 28px;
	
	color: black;
}

.nav-link:hover{
	background: #908C87;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 60px
}

.about-page{

    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    display: block;
    font-size: 100%;
    font: inherit;
    flex-grow: 1;
    text-size-adjust: none;
    padding-bottom: 12rem;
	margin-top:20
}

.container2{
        
	margin-top: 20px;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	display: block;
	text-size-adjust: none;
	font-feature-settings: "kern", "liga", "pnum";
	-webkit-font-smoothing: antialiased;
	color: #555f77;
}

.container{
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	text-size-adjust: none;
	font-feature-settings: "kern", "liga", "pnum";
-webkit-font-smoothing: antialiased;
}

.row2{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	max-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: white;
	box-sizing: border-box;
	display: block;
	font-size: 100%;
	font: inherit;
}

.card1
    {
        background: #fff;
        margin-bottom: 2rem;
        padding: 4rem;
        display: block;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        background-color: white;
        box-sizing: border-box;
    }

    .our-mission{
        text-align: center;
        font-size: 50px;

    }

    .mission{
        text-align: center;
        font-size: 30px;
        
       
	}
	
	.about{

        text-align: center;
        font-weight: 300;
        font-size: 32px;
        line-height: 1.25;
        margin-bottom: 2rem;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
        background-color: white;
        box-sizing: border-box;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
	.about-textbox{

        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        background-color: white;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: justify;
    }
    
    
